<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Socket.IO chat</title>
    <style>
      body {
        background-color: black;
        color: chartreuse;
        font: 13px Helvetica, Arial;
      }
      @media screen and (prefers-color-scheme: light) {
        body {
          background-color: white;
          color: black;
        }
      }

      * { margin: 0; padding: 0; box-sizing: border-box; }
      form { background: #000; padding: 3px; position: fixed; width: 100%; }
      form input { border: 0; width: 100%;  padding: 5px 10px; background: black; color: chartreuse;}
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; color:chartreuse }
      #messages li:nth-child(odd) { background:black; }
    </style>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>